.text-height {
    height: 1em;
}
p {
    font-size: 20px;
}
.collapsible-header .row {
    margin-bottom: 0px;
}
.matchparent {
    height: 100%;
    width: 100%;
}
.fit-parent-w {
    width: 100%;
}