<!DOCTYPE html>
<html>
<head>
  <title>Hsincheng Chao</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <nav class="white">
    <div class="nav-wrapper container">
      <a href="#" class="blue-text brand-logo">Under construction ...</a>
      <ul id="nav-mobile" class=" right hide-on-med-and-down">
        <li><a href="#" class="blue-text">LinkedIn</a></li>
        <li><a href="#" class="blue-text">Github</a></li>
        <li><a href="#" class="blue-text">Google+</a></li>
      </ul>
    </div>
  </nav>

  <div class="parallax-container">
    <div class="parallax"><img src="/static/img/taipei.jpg"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">
        <br>
        <h1><img src="/static/img/handraised.png" class="text-height"> I'm Hsin-Cheng</h2>
        <h2>About me:</h2>
        <p>
            I'm a software developer from Taiwan, a newbie full-stack web developer.
          I've been developing iOS for 3 years and currently eager to learn something different.
          My favoriate programming language is <img src="/static/img/python-logo.png" class="text-height">Python
          and I'm currently studying my full-stack development nanodegree on <a href="https://www.udacity.com/course/full-stack-web-developer-nanodegree--nd004">Udacity</a>.
          I will finish my course soon, wish we luck!
        </p>

        <h4>My Skills</h4>
        <table class="striped">
          <thead>
            <th>Language/Framework</th>
            <th>Experience</th>
            <th>Since</th>
          </thead>
          <tbody>
            <tr>
              <td>Objective-C</td>
              <td>Expert</td>
              <td>2013</td>
            </tr>
            <tr>
              <td>Python</td>
              <td>Good</td>
              <td>2011</td>
            </tr>
            <tr>
              <td>Javascript</td>
              <td>Good</td>
              <td>2014</td>
            </tr>

          </tbody>
        </table>
        
      </div>
    </div>
  </div>


  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.parallax').parallax();
    });
  </script>
</body>
</html>