<!DOCTYPE html>
<html>
<head>
  <title>Hsincheng Chao</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <nav class="white">
    <div class="nav-wrapper container">
      <a href="#" class="blue-text brand-logo">Under construction ...</a>
      <ul id="nav-mobile" class=" right hide-on-med-and-down">
        <li><a href="https://tw.linkedin.com/in/hsincheng" class="blue-text">LinkedIn</a></li>
        <li><a href="https://github.com/olala7846" class="blue-text">Github</a></li>
        <li><a href="https://plus.google.com/u/0/+趙心成/" class="blue-text">Google+</a></li>
      </ul>
    </div>
  </nav>

  <!-- first parallax -->
  <div class="parallax-container">
    <div class="parallax"><img src="/static/img/bluesky2.png"></div>
    <div class="valign-wrapper matchparent">
      <div class="valign fit-parent-w">
        <h1 class="center-align white-text">Never too late to start!</h1>
        <br><br>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col l8 m10 s12 offset-l2 offset-m1">

        <!-- about me -->
        <h1><img src="/static/img/handraised.png" class="text-height hide-on-med-and-down"> I'm Hsin-Cheng</h2>
        <h3>About me:</h3>
        <p>{{content.about|safe}}</p>

        <!-- skills -->
        <h3>My Skills</h3>


        {% for name, items in content.skills %}
          <h5>{{name}}:</h5>
          <div class=row>
            {% for item in items%}
              <div class="card col s6 m4 l2">
                <div class="card-image waves-effect waves-block waves-light crop-image square">
                  <div class="square-content">
                    <img src="{{item[1]}}" class="activator">
                  </div>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                  <p>{{item[0]}}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <!-- second parallax -->
  <div class="parallax-container">
      <div class="parallax"><img src="/static/img/cloudfall.jpg"></div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col l8 m10 s12 offset-l2 offset-m1">
        <!-- experience -->
        <h3>Experiences</h3>

        <ul class="collapsible popout" data-collapsible="accordion">
          {% for exp in content.experiences %}
            <li>
            {% if loop.index == 1 %}
              <div class="collapsible-header active">
            {% else %}
              <div class="collapsible-header">
            {% endif%}
                <div class="row">
                  <div class="col s8">
                    <i class="material-icons">{{exp.icon}}</i>
                    {{exp.title}}
                  </div>
                  <div class="right-align col s4">{{exp.time}}</div>
                </div>
              </div>
              <div class="collapsible-body">
                <p>{{exp.detail|safe}}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>


  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.parallax').parallax();
      $('.collapsible').collapsible({accordion : false});
    });
  </script>
</body>
</html>